/* Colors */
$--color-white: #FFF !default;
$--color-black: #000 !default;
$--color-gray: #D8D8D8 !default;
$--color-font: #333333 !default;
$--color-font-666: #666666 !default;
$--color-header: #222 !default;
$--color-bg: #F1F1F1 !default;
$--color-line: #E5E5E5 !default;
$--color-red: #F60F0F !default;
$--color-link-btn: #1059E8 !default;

/* Length */
$--length-nav: 200px;
$--length-long-card: 1336px;

/* Common Style */
$--common-border: 1px solid $--color-gray;

@mixin box-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}